*{
  font-family: 'Audiowide', 'Sarpanch';
  margin: 0;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  /*Tipo de fuente*/
  font-weight: 400;
  /*Tamaño de fuente*/
  font-style: normal;
}

.home {
  display: flex;
  /*Dispone los elementos en línea*/
  flex-wrap: wrap;
}

h1 {
  font-family: 'Audiowide';
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  margin: 0;
}

h2 {
  font-family: 'Audiowide';
  text-align: center;
}

header {
  font-family: 'Audiowide';
  display: inline-block;
  align-items: center;
  /*Agrupa los elementos en el centro*/
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;
}

/* CSS del logo*/
.logo {
  display: flex;
  align-items: center;

}

.logo img {
  height: 50px
}

/*CSS del menú de navegación*/
.in-flex {
  flex: 1;
  min-width: 250px;
}

.in-flex:first-child {
  flex: 2;
  padding: 25px;
  background-color: #8ac926;
}

.in-flex div {
  padding: 25px;
  background-color: #8ac926;
  margin: 20px;
}

.img img {
  width: 100%;
  max-width: 6000px;
  height: auto;
  border-radius: 100px;
}

.pág {
  font-family: 'Audiowide';
  text-align: center;
}

.menu {
  text-align: center;
  min-width: 250px;
}

.menu ul {
  display: inline-block;
  background: #8ac926;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu li {
  float: left;
  position: relative;
  width: auto;
  display: inline;
  margin: 0 10px;
}

.menu a {
  background: #8ac926;
  color: #FFFFFF;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.menu li:hover a {
  background: #8ac926;
}


/*CSS tabla*/
.tabla {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 250px;
}

.table th,
td {
  padding: 5px 40px;
  border: solid black 1 px;
}

table {
  border: #b2b2b2 1px solid;
}

td,
th {
  border: black 1px solid;
  text-align: center;
}

thead {
  background-color: #8ac926;
}

/*CSS del Footer*/
footer {
  background-color: #8ac926;
  /* Cambia el color de fondo si lo necesitas */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  /* Empuja el footer al final de la página */
  min-width: 250px;
}

.footer a {
  text-decoration: none;
  color: #f0f0f0;
}

p>a:hover {
  color: #000000;
  text-decoration: underline;
}

.footer li {
  width: 100%;
  float: left;
  position: relative;
  width: auto;
  display: inline;
  margin: 0 10px;
}

.footer ul {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  background-color: #8ac926;
  /* Cambia el color de fondo según tu diseño */
  text-align: center;

}

.texto {
  text-align: center;
  font-family: 'Sarpanch';
}

.gallery {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CSS del Carrusel*/
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 60%;
  margin: auto;
}

/*CSS del formulario de los eventos*/
.form-evento {
  width: 400px;
  background: #8ac926;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family:'Sarpanch';
  color: black;
}

.form-evento h4 {
  font-size: 22 px;
  margin-bottom: 20px;
}

.controles {
  width: 90%;
  background: whitesmoke;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "Sarpanch";
  font-size: 15px;
}

.form-evento p {
  height: auto;
  text-align: center;
  font-size: 12px;
  line-height: auto;
}

/*CSS formulario de registro*/
.form-register a:hover {
  color: black;
  text-decoration: underline;
}

.form-register botones {
  font-family: "Arial";
  width: 100%;
  background: #c879ff;
  border: black;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

/*CSS formulario de contacto*/
.form-contacto {
  box-sizing: border-box;
  font-family: 'Sarpanch';
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  margin-left: 550px;
}

.form-contacto textarea {
  max-width: 530px;
  min-width: 250px;
  min-height: 140px;
  max-height: 150px;
}

/*CSS formulario del mapa*/
.mapa {
  justify-content: center;
  align-items: center;
  margin-left: 550px;
}

/*CSS del video*/
video {
  width: 100%;
  height: 1000px;
  margin-top: 50px;
}

/* Contenedor de la galería */
.galeria {
  display: flex;
  /* Las imágenes están en fila */
  width: 100%;
  /* Ocupa todo el ancho de la pantalla */
  height: 430px;
  /* Altura fija para el contenedor */
  overflow: hidden;
  /* Oculta contenido que se desborda */
  align-items: center;
  /* Centra verticalmente las imágenes */
  position: relative;
  /* Para manejar el z-index */
}

/* Estilo de las imágenes */
.galeria img {
  flex: 0 0 auto;
  /* Las imágenes no se expanden ni se encogen automáticamente */
  width: 12.50%;
  /* Ajusta cada imagen al 1/7 del ancho (para 7 imágenes) */
  height: 100%;
  /* Asegura que las imágenes llenen la altura del contenedor */
  object-fit: cover;
  /* Recorta las imágenes para ajustarlas */
  transition: transform 0.5s ease-in-out;
  /* Transición suave al hacer hover */
  margin: 0;
  /* Sin márgenes entre imágenes */
}

/* Efecto de hover */
.galeria img:hover {
  transform: scale(1.2);
  /* Amplía la imagen al hacer hover */
  z-index: 10;
  /* Lleva la imagen al frente */
  cursor: pointer;
  /* Cambia el cursor */
}


/* Contenedor de la galería */
.galeria-wayv {
  display: flex;
  /* Las imágenes están en fila */
  width: 160%;
  /* Ocupa todo el ancho de la pantalla */
  height: 430px;
  /* Altura fija para el contenedor */
  overflow: hidden;
  /* Oculta contenido que se desborda */
  align-items: center;
  /* Centra verticalmente las imágenes */
  position: relative;
  /* Para manejar el z-index */
}

/* Estilo de las imágenes */
.galeria-wayv img {
  flex: 0 0 auto;
  /* Las imágenes no se expanden ni se encogen automáticamente */
  width: 12.50%;
  /* Ajusta cada imagen al 1/7 del ancho (para 7 imágenes) */
  height: 100%;
  /* Asegura que las imágenes llenen la altura del contenedor */
  object-fit: cover;
  /* Recorta las imágenes para ajustarlas */
  transition: transform 0.5s ease-in-out;
  /* Transición suave al hacer hover */
  margin: 0;
  /* Sin márgenes entre imágenes */
}

/* Efecto de hover */
.galeria-wayv img:hover {
  transform: scale(1.2);
  /* Amplía la imagen al hacer hover */
  z-index: 10;
  /* Lleva la imagen al frente */
  cursor: pointer;
  /* Cambia el cursor */
}

/* Contenedor de la galería */
.galeria-dream {
  display: flex;
  /* Las imágenes están en fila */
  width: 115%;
  /* Ocupa todo el ancho de la pantalla */
  height: 430px;
  /* Altura fija para el contenedor */
  overflow: hidden;
  /* Oculta contenido que se desborda */
  align-items: center;
  /* Centra verticalmente las imágenes */
  position: relative;
  /* Para manejar el z-index */
}

/* Estilo de las imágenes */
.galeria-dream img {
  flex: 0 0 auto;
  /* Las imágenes no se expanden ni se encogen automáticamente */
  width: 12.50%;
  /* Ajusta cada imagen al 1/7 del ancho (para 7 imágenes) */
  height: 100%;
  /* Asegura que las imágenes llenen la altura del contenedor */
  object-fit: cover;
  /* Recorta las imágenes para ajustarlas */
  transition: transform 0.5s ease-in-out;
  /* Transición suave al hacer hover */
  margin: 0;
  /* Sin márgenes entre imágenes */
}

/* Efecto de hover */
.galeria-dream img:hover {
  transform: scale(1.2);
  /* Amplía la imagen al hacer hover */
  z-index: 10;
  /* Lleva la imagen al frente */
  cursor: pointer;
  /* Cambia el cursor */
}

/*CSS del audio*/
audio {
  margin-left: 700px;
}